@tailwind base;
@tailwind components;
@tailwind utilities;

#noteContainer > h1 {
  font-size: 2rem;
  font-weight: bold;
}

#noteContainer > h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

#noteContainer > h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

#noteContainer > h4 {
  font-weight: bold;
}

#noteContainer > ul {
  list-style-type: disc;
  margin-left: 1rem;
}

#noteContainer > ol {
  list-style-type: decimal;
  margin-left: 1rem;
}
